/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  width: 580px;
  height: 500px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #000000;
}
header .current-date{
  font-size: 20px;
  font-weight: 500;
  color: rgb(26, 69, 119);
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  /* width: calc(100% / 7); */
  width: (500px/7);
  font-size: 15px;
  text-align: center;
}

.calendar .weeks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 0.5fr);
  gap: 4px;
}
.calendar .weeks li{
  font-weight: 20px;
  cursor: default;
  margin-left: 41px;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  margin-left: 51px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  position: relative;
  color: white;  /* Set the text color to white when selected */
  z-index: 2; 
}

.days li.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #75bdee;  /* Circle color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;  /* Ensure the circle is behind the text */
}

.days li::before{
  position: relavite;
  content: "";
  left: 10px;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.days li.selected {
  position: relative;
  color: white;  /* Set the text color to white when selected */
  z-index: 2;    /* Ensure the text is above the circle */
}

.days li.selected::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #06012e;  /* Circle color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;  /* Ensure the circle is behind the text */
}